p{
    width: 400px;
}

h1 {
    font-size: 40pt;
    font-family: monospace;
}

h2 {
    font-size: 20pt;
    font-family: monospace;

}
#do{border-style: dotted;}
#da{border-style: dashed;}
#so{border-style: solid;}
#db{border-style: double;}
#gr{border-style: groove;}
#ri{border-style: ridge;}
#in{border-style: inset;}
#out{border-style: outset;}
#hid{border-style: hidden;}
#no{border-style: none;}


#ex{font-size: 15px;
    padding: 50px;
    margin: 30px;
    width: 100px;
    height: 30px;
    border: solid 4px black;
    border-color: plum;
    color: black;
    border-radius: 20px;
    box-shadow: 10px 10px grey;
    background-color: yellow;
}

#ex2{
    padding: 40px;
    border: dashed 3px black;
    border-radius:13px;
    width: 100px;
    margin:50px;
}

p{
    display: block;

}
a{
    display: block;
    background-color: yellow;
    width: 70px;
    color: blue;
}

#d1{
    display: inline;
    background-color: aqua;
    width: 20px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
    padding:50px;
    border: solid 3px black;
    border-radius: 25px;
}

#d2{
    display: inline;
    background-color: rgb(187, 94, 175);
    width: 100px;
    height: 20px;
    position: absolute;
    top: 125%;
    left: 8%;
    padding: 50px;
    border: solid 3px black;
    border-radius: 25px;
}

#d3{
    display: inline;
    background-color: tomato;
    width: 100px;
    height: 20px;
    position: fixed;
    top: 45%;
    left: 80%;
    padding: 50px;
    border: solid 3px black;
    border-radius: 25px;
}

#el1{
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 2;
}

#el2{
    background: greenyellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
}

#el3{
    background: whitesmoke;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 0;
}

.textoFEI {
    color: #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: solid 5x navy;
    font-family:monospace;
    background-color: rgb(0, 100, 255);
    border: solid 5px black;

}

.textoFEI:hover{
    background-color: purple;
    border: solid 5px yellow;
}
