div h1{
    font-family: monospace;
    text-align: center;
    font-size: 30pt;
}

div h2{
    font-family: monospace;
    text-align: center;
    font-size: 25pt;
}

p{
    font-size: 15pt;
    font-family:monospace;
    text-align: center;

}

ul{
    font-size: 15pt;
   text-align: center;
   width: 400px;
   margin:auto;
}

li{
    text-align: center;
    font-family: monospace;
}

a{
    color: blue;
    text-align: center;
    font-size: 15pt;
    
}

img{
  display: block;
  margin: auto;

}

iframe{
    display: block;
    margin: auto;
}

*{
    background-color: lightseagreen;
}

a:hover{
    background-color: lightblue;
    font-size: 20pt;
}

#ABC{
    background-color: yellowgreen;
    width: 600px;
    margin: auto;
}


